# Agents
langchain
langchain-community
python-dotenv
wikipedia
duckduckgo-search
openai
# Assemblers

# Classifiers
torch
torchvision
pytorch-lightning
scikit-learn
matplotlib
Pillow
numpy
opencv-python
kagglehub
selenium
requests
beautifulsoup4
lxml

# Diffusion Model
diffusers
transformers
torch
torchvision
Pillow
accelerate
protobuf
sentencepiece

#main
opencv-python
PyQt5

